<div class="card-body p-5 text-center">
  <form (ngSubmit)="userLogin()">
    <div>
      <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
    </div>
    <h2 class="mb-5 color-S">Sign in</h2>

    <div class="form-outline mb-4">
      
      <input type="text" class="form-control form-control-lg" id="userId" placeholder="User" name="username"
        [(ngModel)]="user.userId" />
    </div>

    <div class="form-outline mb-4">
      <input type="password" class="form-control form-control-lg" placeholder="Password" name="password"
        [(ngModel)]="user.password" />
    </div>
    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-start mb-4">
      <input class="form-check-input check-lg" type="checkbox" value="" id="form1Example3" />
      <label class="form-check-label " for="form1Example3"> Remember me </label>
    </div>
    <button class="btn btn-primary btn-lg btn-block login-btn" type="submit">LOGIN</button>
  </form>
</div>



<!-- <form >
<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width" appearance="outline">
    <mat-label>First name</mat-label>
    <input matInput>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field></td>
</tr>
<tr>
  <td><mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field></td>
</tr>
</table>
</form> -->