
.content-move-right {
  margin-left: 250px !important;
  transition: ease 0.2s;
}

.content-move-left {
  transition: ease 0.1s;
}
.active {
  background: gray;
  color: white;
}
.mat-button:hover {
  background: rgb(21 21 122);
  color: white;
  text-decoration:none;
}
.mat-button{
  font-size:1.2rem;
  
}
.btn-mess{
  border:none;
  background:none;
}

