
<mat-toolbar color="primary" class="nav-height" class="shadow-toolbar">
  <mat-toolbar-row >
    <button mat-icon-button>
      <mat-icon *ngIf="isLogin" (click)="openLeftSide()">menu</mat-icon>
    </button>
    
    <span class="menu-spacer" style="width: 100px;"></span>
    <div>
      <a mat-button [routerLink]="['']" [routerLinkActive]="'active'"> Home </a>
      <ng-container *ngIf="isLogin">
        <a mat-button [routerLink]="['/login']" [routerLinkActive]="'active'">Tài khoản </a>

        <button mat-button [matMenuTriggerFor]="menu" [routerLinkActive]="'active'"> Thông tin liên thông
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/sendmess']">Gửi liên thông </button>
          <button mat-menu-item [routerLink]="['/receivemess']">Nhận liên thông</button>
        </mat-menu>
        <a mat-button [routerLink]="['/statistical']" [routerLinkActive]="'active'">Thống kê liên thông</a>

      </ng-container>

      

      <div style="position: absolute; right: 0px; top: 15px;" class="dropdown user-control">

        <div class="search"  style="float:left;">
          <form action="">
            <input  style="  border: none;" type="text" placeholder="Search..." name="search">
            
            <button style="  border: none;" type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        &nbsp;&nbsp;
          <button class="btn-user" style="border:none ;background-color: rgb(28, 35, 123); color: white;" type="button"
            class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-user "></i> Sign in
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" (click)="openDialog()">Đăng nhập</a>
            <a class="dropdown-item" (click)="userLogout()">Đăng xuất</a>
          </div>
      
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!--thanh menu doc xo xuong -->
<mat-sidenav-container>
  <mat-sidenav #sidenav (closed)="closeLeftSide()">
    <mat-nav-list>
      <a mat-list-item [routerLink]="">
        <mat-icon mat-list-icon>home</mat-icon> Home
      </a>
      <a mat-list-item [routerLink]="">
        <mat-icon>account_circle</mat-icon>Tài khoản
      </a>
      <!-- toggle routerLink="/login"-->
      <div>
        <a mat-list-item [routerLink]="['/home']">
          <mat-icon>assessment</mat-icon> Thông tin liên thông

          <button class="btn-mess" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            <mat-icon>expand_more</mat-icon>
          </button>
        </a>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <button mat-menu-item [routerLink]="['/sendmess']">Gửi liên thông</button>
            <button mat-menu-item [routerLink]="['/receivemess']">Nhận liên thông</button>
          </div>
        </div>
      </div>

      <a mat-list-item [routerLink]="['/login']">
        <mat-icon> bar_chart</mat-icon> Thống kê liên thông
      </a>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>
        <mat-icon>close</mat-icon> Đóng
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="
        height: 90vh;
      " [ngClass]="{
        'content-move-left': !isOpened, 
        'content-move-right': isOpened
      }">
<!-- neu open thi di chuyen sang phai -->
      <div class="">
        <router-outlet></router-outlet>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>