<div class="container-fluid body">
    <div class="row">
        <div class="col-sm-3 dashboard" style="background-color:rgb(30, 34, 40);">
            <h3 class="menu-title"><i class="fas fa-bars"></i> DANH MỤC</h3>
            <div class="menu">
                <ul>
                    <li><a href="" ><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="" ><i class="far fa-user-circle"></i> Tài khoản</a></li>
                    <li><a href=""><i class="fas fa-exchange-alt"></i> Thông tin liên thông <span><i
                                    class="fas fa-angle-down"></i></span> </a>
                        <ul>
                            <li><a href=""> <i class="fas fa-paper-plane"></i> Gửi liên thông</a></li>
                            <li><a href="">Nhận liên thông</a></li>
                        </ul>
                    </li>
                    <li><a href=""> <i class="fas fa-chart-bar"></i> Thống kê liên thông</a></li>

                </ul>
            </div>

        </div>

        <div class="col Ad-title">
            <div style=" float:right;" class="dropdown">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-user "></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="">Đăng nhập</a>
                    <a class="dropdown-item" href="">Đăng xuất</a>

                </div>
            </div>
        </div>
        <div class="container">
            <!--<router-outlet></router-outlet>-->
        </div>

    </div>
</div>